extends layout

block layout-content
  div.View
    h1.Banner Heizungs Logger
    if measuring
      h2.Status Messung läuft!
      a(href="/stop") Stoppen
    else
      a(href="/start") Messung starten
    div.Files
      h3 Files
      table(style='width:100%')
        each val in files.length ? files : ['There are no values']
          tr(style='width:100%')
            td(style='width:20%')
              a(href="/measurements/" + val) #{val}
            td
              a(href="/delete/" + val) löschen?