[Unit]
Description=Temperature Sensor Daemon

[Service]
Type=simple
ExecStart=python3 /home/pi/temperature-sensor-app/thermometer.py

[Install]
WantedBy=multi-user.target
